{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Covid-19 India Dashboard</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style type="text/css">
    .bs-example{
        margin: 10px;
    }
</style>
<!-- admin files-->
<script type="text/javascript" src="/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>

<script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script> 
<script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script> 

<!-- Bootstrap Core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom Fonts -->
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">



<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"/>

<!-- DataTables Responsive CSS -->
<link href="{% static 'css/dataTables/dataTables.responsive.css' %}" rel="stylesheet">

<!-- Multiselect select2 jquery -->
<link href="{% static 'select2/dist/css/select2.min.css' %}" rel="stylesheet" />


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-left" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="home" class="nav-item nav-link active">Home</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Tables</a>
                    <div class="dropdown-menu">
                        <a href="deathdetailview" class="dropdown-item">Death Details</a>
                        <a href="statewisedetailview" class="dropdown-item">State wise Details</a>
                        <a href="indianabroadview" class="dropdown-item">Indian Cases Abroad</a>
                    </div>
                </div>
                <a href="feedbackview" class="nav-item nav-link">Feedback</a>
                <a href="aboutview" class="nav-item nav-link">About</a>
            </div>
        </div>
        <a href="home" class="navbar-brand">Covid-19 India Dashboard</a>
    </nav>
    {% block content %}
{%endblock%}
</div>

</body>
<script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
        
<!--Chart js-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/metisMenu.min.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'js/startmin.js' %}"></script>

<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>


<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'js/metisMenu.min.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'js/startmin.js' %}"></script>

<script src="{% static 'jQuery-File-Upload-master/js/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'autodater.js' %}"></script>
<!-- DataTables JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.js"></script>
</html>                            